.idea/
.vs/
.ralph/
.claude/
.sisyphus/
build/
bin/
game/
!engine/runtime/build/
!engine/runtime/build/**
cmake-build-*/
ipch/
*.aps
*.dsp
*.dsw
*.ncb
*.opensdf
*.sdf
*.sln
*.suo
*.user
*.vcproj
*.vcproj.filters
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.VC.db
*.VC.VC.opendb
.DS_Store
